[submodule "prettier"]
	path = prettier
	url = git@github.com:prettier/prettier.git
[submodule "repos/typescript-eslint"]
	path = repos/typescript-eslint
	url = git@github.com:typescript-eslint/typescript-eslint.git
[submodule "repos/eslint-plugin-vue"]
	path = repos/eslint-plugin-vue
	url = git@github.com:vuejs/eslint-plugin-vue.git
[submodule "repos/babel"]
	path = repos/babel
	url = git@github.com:babel/babel.git
[submodule "repos/excalidraw"]
	path = repos/excalidraw
	url = git@github.com:excalidraw/excalidraw.git
