name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: yarn
      - run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: yarn
      - run: yarn test

  test-run:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: repositories
          key: v2-${{ hashFiles('repositories.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: yarn
      - run: yarn execute "RUN https://pkg.pr.new/prettier/prettier@main VS latest on typescript-eslint/typescript-eslint"
