name: Regression test

on:
  issue_comment:
    types: [created]

jobs:
  test:
    if: ${{ startsWith(github.event.comment.body, 'run') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: repositories
          key: v2-${{ hashFiles('repositories.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: yarn
      - run: yarn execute
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Reports
        uses: actions/upload-artifact@v6
        with:
          name: Reports
          path: reports
