name: Regression test

on:
  issue_comment:
    types: [created]

jobs:
  test:
    if: ${{ startsWith(github.event.comment.body, 'run') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: repositories
          key: v2-${{ hashFiles('repositories.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
      - run: yarn
      - run: yarn execute
      - name: Upload Reports
        uses: actions/upload-artifact@v5
        with:
          name: Reports
          path: reports
