on:
  issue_comment:
    types: [created]
jobs:
  regression_testing_job:
    if: ${{ startsWith(github.event.comment.body, 'run') }}
    runs-on: ubuntu-latest
    name: a job for regression testing
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v2.5.0
        with:
          node-version: "16"
      - name: configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
      - run: yarn install
      - run: yarn build
      - run: node ./build/index.js
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
