on:
  issue_comment:
    types: [created]
jobs:
  regression_testing_job:
    if: ${{ startsWith(github.event.comment.body, 'run') }}
    runs-on: ubuntu-latest
    name: a job for regression testing
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - name: configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
      - run: yarn
      - run: yarn build
      - name: main action
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node build/index.js
