name: Regression test

on:
  issue_comment:
    types: [created]

jobs:
  test:
    if: ${{ startsWith(github.event.comment.body, 'run') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: repositories
      - uses: actions/setup-node@v6
      - name: configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
      - run: yarn
      - run: yarn build
      - name: main action
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node build/index.js
      - name: Upload Reports
        uses: actions/upload-artifact@5
        with:
          name: reports
          path: running/reports