name: "Update projects.json"

on:
  workflow_dispatch:
  schedule:
    - cron: "00 01 1 * *"

jobs:
  update-project-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Configure git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Setup Node.js
        uses: actions/setup-node@v3.1.0
        with:
          node-version: "14"

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Run update-projects-json.mjs
        run: node ./scripts/update-projects-json.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
