name: "Update repositories.json"

on:
  workflow_dispatch:
  schedule:
    - cron: "00 01 1 * *"

jobs:
  update-repositories:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: yarn

      - name: Run update-repositories.mjs
        run: node ./scripts/update-repositories.mjs

      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update repositories.json"
          branch: automated-update-repositories
          branch-suffix: timestamp
          title: "Update repositories.json"
