name: "Update projects.json"

on:
  workflow_dispatch:
  schedule:
    - cron: "00 01 1 * *"

jobs:
  update-project-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: yarn

      - name: Run update-projects-json.mjs
        run: node ./scripts/update-projects-json.mjs

      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update projects.json"
          branch: automated-update-projects
          branch-suffix: timestamp
          title: "Update projects.json"
